<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sensorberg.sdk">

    <application
        android:name="android.support.multidex.MultiDexApplication">
        <meta-data android:name="DATABASE" android:value="sensorberg.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.sensorberg.sdk.model.sugarorm" />


        <receiver android:name="com.sensorberg.sdk.internal.TestGenericBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.sensorberg.android.PRESENT_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.sensorberg.sdk.internal.TestGenericBroadcastReceiver2"
            android:process=".sensorberg"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.sensorberg.android.PRESENT_ACTION" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.sensorberg.sdk.testUtils.TestBroadcastReceiver"
            android:process=".sensorberg"
            android:label="sensorberg-logger">
            <intent-filter>
                <action android:name="com.sensorberg.android.PRESENT_ACTION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
